.MapArt {
  background: white;
  position: absolute;
  top: 0;

  .image {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.state-enter {
    transform: translateY(-100vh);
    z-index: 99;
    &-active {
      transform: translateY(0vh);
      transition: all 0.5s ease-in;
    }
  }

  &.state-leave {
    transform: translateY(0vh);
    z-index: 99;
    &-active {
      transform: translateY(-100vh);
      transition: all 0.5s ease-out;
    }
  }

}
