// Import Bootstrap shit so this can be used everywhere. Don't remove please.
@import 'bootstrap.scss';

.page-header {
  text-transform: uppercase;
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
}
